<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
<title>@ViewData["Title"]</title>
<style src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-2/css/all.min.css"></style>

<!-- Bootstrap core CSS -->
<link href="~/sneat-blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/sneat-blog/assets/css/fontawesome.css">
<link rel="stylesheet" href="~/sneat-blog/assets/css/templatemo-stand-blog.css">
<link rel="stylesheet" href="~/sneat-blog/assets/css/owl.css">


