<div class="container text-center" style="padding-top:250px;padding-bottom:250px;">
    <h1 class="text-center">@ViewData["ErrorMessage"]</h1>
    <a class="btn btn-primary mt-5" asp-action="Index"><strong>Ana Sayfaya Dön  </strong></a>
</div>
